main {
  width: 100%;
  background-color: antiquewhite;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.type-select {
  display: flex;
  height: 50px;
  background-color: aquamarine;
}
